.viewport {
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  background-color: #f4f6f9;
  .logo {
    color: white;
    margin: 0;
    padding: 16px 24px;
    background: linear-gradient(to bottom right, #fc5677 0%, #f52d55 100%);
  }
}
