.app-container {
  height: 100vh;
  width: 100vw;

  .column-container {
    padding: 0 32px 24px 24px;
    flex-grow: 1;
    overflow-y: auto;
  }

  .notes,
  .todos,
  .transactions {
    height: 100vh;
    flex: 1 0 auto;
  }

  .todo,
  .transaction,
  .note {
    margin-bottom: 10px;
    flex: 0 0 auto;
  }

  .note p {
    line-height: 24px;
  }

  h3 {
    padding: 20px 24px;
    margin: 0;
    height: 72px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #fc5677;
    color: white;
    font-size: 22px;
    flex: 0 0 auto;
  }

  .notes h3 {
    background: linear-gradient(to bottom right, #f73f64 0%, #ed2950 300%);
  }

  .todos h3 {
    background: linear-gradient(to bottom right, #f73f64 -100%, #ed2950 200%);
  }

  .transactions h3 {
    background: linear-gradient(to bottom right, #f73f64 -200%, #ed2950 300%);
  }

  h4 {
    margin: 32px 0 16px;
  }

  p {
    margin-top: 0;
  }

  .transaction {
    color: black;
    padding-left: 10px;

    b {
      font-weight: 600;
      margin-right: 10px;
    }

    &.expense b {
      color: #ed2950;
    }

    &.income b {
      color: #008000;
    }
  }

  .load-more {
    margin-top: 32px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(to bottom right, #f73f64 0%, #ed2950 100%);
    -webkit-background-clip: text;
  }
}
