.navigation {
  color: white;
  margin: 0;
  font-weight: 600;
  background: linear-gradient(to right, #f84166, #f52d55);
  flex-basis: 240px;

  .logo {
    font-size: 28px;
    padding: 16px 24px;
    height: 72px;
    box-sizing: border-box;
    line-height: 36px;
    background: linear-gradient(to bottom right, #fc5677, #f52d55);
    border-bottom: 1px solid #fc5677;
  }

  a {
    height: 64px;
    width: 100%;
    padding: 0 24px;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid #fc5677;
  }
}
