@font-face {
  font-family: 'quicksans';
  src: url('./assets/fonts/Quicksand-Regular.woff');
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata.otf');
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'quicksans';
}

a {
  color: black;

  &,
  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.checkbox {
  .check {
    width: 16px;
    height: 16px;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(150, 150, 150, 0.2);
    margin-right: 10px;
  }
}
