.journal-info {
  flex: 0 0 300px;
  .expenses,
  .incomes {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    .title {
      margin-right: 10px;
      font-weight: bold;
      &-container {
        flex: 1 0 50%;
        justify-content: center;
        align-items: center;
      }
    }
    .value {
      margin-bottom: 5px;
      &-container {
        flex: 1 0 50%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
